.flowers-image{
    width: 20vw;
    height: 20vh;
    object-fit:cover;
    object-position: center center;
}
.cart-item-image{
    width: 15vw;
    height: 15vh;
    object-fit:cover;
    object-position: center center;
}